footer {
    margin: 50px 0;
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer h2 {
    background-color: var(--highlight-color);
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    font-size: 35px;
    margin-bottom: 40px;
    color: var(--contrast-color);
}

footer p {
    font-size: 20px;
    color: var(--secondary-color);
    max-width: 600px;
    font-weight: 500;
    line-height: 30px;
}

.contact-links {
    background-color: var(--container-background-color);
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 45px;
    padding: 15px 40px;
    border-radius: 20px;
    margin: 30px 0;
}

.contact-links a {
    background-color: transparent;
    display: flex;
}

.contact-links li {
    transition: transform 0.3s ease;
}

.contact-links li:hover {
    animation: tremble 0.4s infinite;
}

.contact-links li:first-child a {
    color: var(--transparent-color);
}

.contact-links li:last-child a {
    color: #008800;
}
