header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: inherit;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
}

.header-container img {
    width: 150px;
}

#logo-light {
    display: var(--light-display);
}

#logo-dark {
    display: var(--dark-display);
}

.hamburger-menu {
    font-size: 50px;
    display: none;
    cursor: pointer;
    color: #009cc4;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    display: block;
    color: #103351;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 10px 0;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.3s;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.692);
    background-color: #103351;
}

.theme-container {
    width: 150px;
    display: flex;
    justify-content: end;
}

#toggle-theme {
    opacity: 0;
    position: absolute;
}

.theme-container .theme-label {
    background-color: var(--contrast-color);
    width: 70px;
    height: 35px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.theme-container ion-icon:first-child {
    color: #f1c40f;
    font-size: 25px;
}

.theme-container ion-icon:nth-child(2) {
    color: #f39c12;
    font-size: 25px;
}

.theme-container .ball {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 3px;
    top: 2.3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

#toggle-theme:checked + .theme-label .ball {
    transform: translateX(35px);
}

@media (max-width: 950px) {
    .menu {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-right: 20px;
    }
    
    nav {
        display: none;
    }

    nav ul {
        border-radius: 10px;
        background-color: rgba(190, 190, 190, 0.904);
        width: 250px;
        padding: 20px;
        gap: 10px;
        max-height: 10px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        right: 40px;
        z-index: 1;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .menu-height {
        max-height: 400px;
    }

    .menu li {
        padding: 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        display: block;
    }

    .menu li a {
        color: #003479;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu {
        display: block;
    }

    .show {
        display: block;
    }
}

@media (max-width: 576px) {
    .header-container img {
        width: 125px;
    }

    .hamburger-menu {
        font-size: 40px;
    }

    nav ul {
        right: 20px;
    }
}