.skills {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills img {
    width: 60px;
}

.skills a {
    background-color: transparent;
}

.skill {
    transition: transform 0.3s ease;
}

.skill:hover {
    animation: tremble 0.4s infinite;
}

.skill h3 {
    margin-top: 10px;
    height: 40px;
    font-size: 15px;
    color: var(--skill-title);
    width: 85px;
    font-weight: 700;
}

@media (max-width: 576px) {
    .skills {
        margin-top: 20px;
    }

    .skills img {
        width: 40px;
    }
    
    .skill h3 {
        font-size: 14px;
        width: 65px;
        margin-top: 5px;
    }
}