:root {
    --body-color: #103351;
    --dark-display: block;
    --light-display: none;
    --contrast-color: #000000;
    --hero-background: url("../img/nightsky.png");
    --highlight-color: #00ccff;
    --primary-color: #103351;
    --secondary-color: #ffffff;
    --transparent-color: rgba(255, 255, 255, 0.692);
    --container-background-color: rgba(255, 255, 255, 0.068);
    --skill-title: #ffffff;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--body-color);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 0px;
}

h2 {
    font-size: 48px;
}

a {
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 150px auto 0 auto;
    padding: 0 20px;
}

.container {
    margin-top: 40px;
    background-color: var(--container-background-color);
    width: 100%;
    border-radius: 20px;
    padding: 40px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.container h2 {
    background-color: #0097bd;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    font-size: 35px;
    margin-bottom: 40px;
    color: var(--contrast-color);
}

@keyframes tremble {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(2px, -2px);
    }
}

@media (max-width: 950px) {
    main {
        margin: 100px auto 0 auto;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }

    main {
        padding: 0;
    }

    .container {
        padding: 10px;
        margin-top: 20px;
        border-radius: 0;
    }

    .container h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
}