:root {
    --body-color: #103351;
    --dark-display: block;
    --light-display: none;
    --contrast-color: #000000;
    --hero-background: url("../img/nightsky.png");
    --highlight-color: #00ccff;
    --primary-color: #103351;
    --secondary-color: #ffffff;
    --transparent-color: rgba(255, 255, 255, 0.692);
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--body-color);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 0px;
}

h2 {
    font-size: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 150px auto 0 auto;
    padding: 0 20px;
}

@media (max-width: 950px) {
    main {
        margin: 100px auto 0 auto;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }

    main {
        padding: 0;
    }
}